body {
  background-image: linear-gradient(to right top, #1976d2, #4D0525)!important;
  background-repeat: no-repeat;
  height: 100vh
}
::-webkit-scrollbar {
  width: 6px
}
::-webkit-scrollbar-track {
  background: #f1f1f1
}
::-webkit-scrollbar-thumb {
  background: #888
}
::-webkit-scrollbar-thumb:hover {
  background: #555
}
.nav-tabs .nav-link.active {
  border-color: transparent;
  background-color: #fff !important;
  color: #1976d2 !important;
  border-bottom: 4px solid #1976d2 !important
}
.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
  color: #000
}
.nav-tabs .nav-link {
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important
}
.nav-tabs .nav-link.active {
  border-color: transparent;
  background-color: #60D0FF;
  color: #fff;
  font-weight: 600
}
.nav-link {
  height: 77px;
  font-size: 13px;
  background-color: #fff
}
.nav-link:hover {
  border: none
}
.nav-link:focus {
  outline: none
}
.tab-pane {
  height: 300px
}
.form-control {
  height: 45px;
  position: relative
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #1976d2;
}
.flight-where-from:after {
  position: absolute;
  content: '23';
  width: 20px;
  height: 20px;
  border-radius: 50%
}
.custom-button {
  height: 45px;
  background-color: #1976d2;
  border: none;
  color: #fff
}
.custom-button:hover,
.custom-button:focus {
  background-color: #1976d2;
  box-shadow: none;
  outline: none
}
.scroll-y {
  overflow-y: scroll;
  height: 300px
}

.centered-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 1000px;
  
}