th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
  width: 80%;
}

td {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

h1 {
  /* margin-bottom: 50px; */
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}

.button3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: "auto";
  text-align: center;
  padding: 0px;
  width: 50%;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button3:hover {
  background-color: #555555;
  color: white;
}
