:root {
  --color-grey-primary: #f0f0f0;
  --color-yellow-primary: goldenrod;
  --color-orange-primary: darkorange;
  --color-green-primary: mediumseagreen;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.App {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  justify-content: center;
}

.productList {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.productCard {
  position: relative;
  background-color: var(--color-grey-primary);
  margin: 1rem;
  flex: 1 0 25rem;
  max-width: 30rem;
  max-height: 60rem;
  transition: 0.2s;
}

.productCard:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.productImage {
  display: block;
  margin-top: 2rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.productCard__cart {
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__wishlist {
  position: absolute;
  right: 3rem;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__fastSelling {
  position: absolute;
  font-size: 2rem;
  left: 0;
  margin: 1rem;
  fill: var(--color-orange-primary);
}

.productCard__content {
  margin: 2rem;
}

.productName {
  font-size: 3rem;
  font-weight: bold;
}

.displayStack__1,
.displayStack__2 {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.productSales,
.productTime {
  font-size: 1.1rem;
}

table {
  border-collapse: collapse;
  width: 70%;
}

th,
td {
  padding: 20px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  font-size: 15px;
  font-weight: normal;
}

tr:hover {
  background-color: rgb(215, 211, 209);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.auth-form-container,
.login-form,
.register-form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.transaction-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    /* border: 1px solid white; */
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
  text-align: center;
  height: 50;
}

.App {
  /* width: 100%; */
  text-align: center;
  border-radius: 5vh;
  /* margin: 0%; */
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #0d6efd, #6f75c6 48%, #4dc7f7);
}
